
#events div.card{
    border-color: var(--primary-color);
}

#events div.carousel-inner{
    border-radius: 20px;
    overflow: hidden;
}

#events div.carousel-inner div{
    border-radius: 20px;
    overflow: hidden;
}

#events div.events-carousel-icons{
    width: 20px;
}

#events div.events-carousel-icons.right::before,#events div.events-carousel-icons.right::after,#events div.events-carousel-icons.left::before,#events div.events-carousel-icons.left::after{
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    position: absolute;
}

#events div.events-carousel-icons.right::before{
    top: 0;
    right: -20px;
}
#events div.events-carousel-icons.right::after{
    bottom: 0;
    right: -20px;
    background-color: var(--primary-color);
}
#events div.events-carousel-icons.left::before{
    top: 0;
    left: -20px;
}
#events div.events-carousel-icons.left::after{
    bottom: 0;
    left: -20px;
    background-color: var(--primary-color);
}

#events span.carousel-control-prev-icon.position-absolute{
    right:-30px;
    background-image: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-radius: 2px;
    transform: rotate(45deg);
}

#events span.carousel-control-next-icon.position-absolute{
    left:-30px!important;
    background-image: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    border-radius: 2px;
    transform: rotate(45deg);
}