#header *{
    line-height: 1.5;
}

#header{
    height: 100vh;
    background-image: url("../IMG/bg.png");
    background-size: cover;
}

#header .navbar-brand img{
    width: 75px;
}


#header div.card{
    width: 425px;
    background-color: transparent;
}

#header div.card *{
    color: #fff;
}

#header div.card h5.card-title{
    font-family: Peyda-Bold;
    font-size: 42px;
}

#header div.card div.card-body{
    font-size: 28px;
}

#header p.intro::before{
    content: "";
    width: 13px;
    height:13px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: -20px;
}

#header span.group{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-radius: 0.2rem;
    transform: rotate(-45deg);
}

#header span.group::before{
    content: "";
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-radius: 0.2rem;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#header span.group::after{
    content: "";
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-radius: 0.2rem;
    position: absolute;
    top: 10px;
    right: 10px;
    
}

